
$mainfColor : #00A1C3;
$mainsColor : #13798f;
@font-face {
  font-family: 'mainFontbold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'); 
} 
@font-face {
  font-family: 'mainFontLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype'); 
} 
@font-face {
  font-family: 'mainFontRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); 
} 

%mainFontBold{
	font-family: 'mainFontbold' , sans-serif;
	font-size: 14px;
}
%mainFontLight{
	font-family: 'mainFontLight' , sans-serif;
	font-size: 14px;
}

%mainFontRegular{
	font-family: 'mainFontRegular' , sans-serif;
	font-size: 14px;
}


// start Main

body {
	background-color: #edf0f1;
}

// end Main

// Start login form
.login {
	position: relative;
	width: 400px;
	margin: 80px auto;
	animation-name: loginForm;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	input{
		margin : 15px;
		background-color: #294f567a;
		&:last-of-type{
			width: 120px;
			&:hover{
				background-color: $mainsColor;
			}
			&:focus{
				background-color: $mainsColor;
			}
		}
	}
	h4{
		@extend %mainFontRegular;
	    font-size: 24px;
    	color: $mainsColor;
	}
}
@keyframes loginForm {
	0%{top:-600px}
	100%{top:80px}
}

// end login form

// start navbar
.navbar{
	
	.nav-Brand{
		text-decoration: none;
	    font-size: 18px;
	    /* padding-right: 20px; */
	    color: #6f8482;
	    font-weight: bold;
	}

	.navbar-right{
		
		.btn-secondary{
			        color: #9e9696;
    				background-color: #e2e5e8;
    				border-color: #d5d8da;
    				padding: 5px 30px;
				}

		.dropdown-menu{
		    text-align: center !important;
    		background-color: #edf0f1 !important;
			
			& > li {
				& > a{
					text-decoration: none !important;
				    color: #898b8e !important;
    				font-size: 15px;
					}
			}
		}
	}
}

// end navbar 

//start table manage users

.table-responsive{
	border-radius : 14px;
	.mainTable{
		tr{
			&:first-of-type{
				td{
					background-color : #007BFF;
				}
			}
			td{
				
				i{
					padding: 0 9px 0 7px;
					font-size: 20px !important;
					&:first-of-type {
					    margin-right: 6px;
					}
				}
			}

		}
	}
}

//dashboard page
%linksdecor{
	cursor: pointer;
	a{
		text-decoration: none;
		&:hover {
			// color : white;
		}
	}
}
.dashboard{
	.dashStat{
		.total_users{
			@extend %linksdecor;
		}
		.pending_users{
			@extend %linksdecor;
		}
		.total_items{
			@extend %linksdecor;
		}
		.total_comments{
			@extend %linksdecor;
		}
		.stat{
			background-color: white;
		    padding: 60px 0px;
		    border-radius: 13px;
		    box-shadow: 4px 4px #a7a3a3;
	        font-size: 20px;
		    margin-top: 30px;
		    color: $mainsColor;
			span{
			    display: block;
			    margin-top: 12px;
			    font-size: 23px;
			    font-weight: bold;
			}
		}
	}
	.dashLatest{
		margin-top: 7%;
		.panel{
			.panel-heading {
			    padding: 18px;
			    background-color: #13798fb3;
			    border-top-left-radius: 7px;
			    border-top-right-radius: 7px;
			}
			.panel-body {
			    min-height: 300px;
			    background-color: #dae3e6;
			    border-bottom-left-radius: 7px;
			    border-bottom-right-radius: 7px;
			}
		}
	} 
}

//end dashbord